<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WinFormsSDataClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WinFormsSDataClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <WinFormsSDataClient.Properties.Settings>
            <setting name="SDataEndpoint" serializeAs="String">
                <value>https://HAL9000-VM01:5493/sdata/ol/{0}/{1};{2}/</value>
            </setting>
        </WinFormsSDataClient.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WinFormsSDataClient.Properties.Settings>
            <setting name="Datenbank" serializeAs="String">
                <value>OLDemoReweAbfD</value>
            </setting>
            <setting name="Mandant" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Contract" serializeAs="String">
                <value>MasterData</value>
            </setting>
            <setting name="Rechnername" serializeAs="String">
                <value>HAL9000-VM01</value>
            </setting>
            <setting name="Partname" serializeAs="String">
                <value>ediBuchungserfassung.100096740.Academy</value>
            </setting>
        </WinFormsSDataClient.Properties.Settings>
    </applicationSettings>
</configuration>
